@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  --font: "Quicksand";
  --background: rgb(127, 127, 188);
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  background-color: var(--background);
  color: white;
  padding: 1em;
}

body {
  font-family: var(--font);
  margin: 0 auto;
  padding: 0;
}

/*Nav Section*/

.links {
  display: flex !important;
  flex-direction: column !important;
  flex-direction: column;
  grid-column: 1/3;
  grid-row: 2/5;
  list-style: none;
  margin: 1em;
  color: white;
}

.links li {
  
  display: none;
}

.responsive li {
  display: initial;
  
}

nav {
  background-color: var(--background);
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: white;
  transition: all 1s ease 0s;
  padding: 1em;
}



.logo {
  width: 150px;
  grid-column: 1;
  grid-row: 1;
}

#user {
grid-column: 3;
grid-row: 1;
margin-right: 10px;
}

.google {
  grid-column: 4;
  grid-row: 1;
  font-family: var(--font);
  color: white;
  background-color: var(--background);
}

.signOut {
  font-family: var(--font);
  color: white;
  background-color: var(--background);
}

#ham {
  color: white;
  text-decoration: none;
  justify-self: end;
  padding: 1em;
  font-size: 20px;
}

/*Home*/
.page {
  padding: 1em;
}

.hero {
  text-align: center;
}

.step {
  width: 300px;
  text-align: center;
  margin: 20px;
}

.steps {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
}

.stepImg {
  width: 100%;
}

/*About*/

/*Add Recipes*/
.heroAdd{
  text-align: center;
}

.recipeMaker {
  display: grid;
  width: 35%;
  margin: 0 auto;
  text-align: left;
}

.recipeMaker label {
  margin-top: 10px;
}

.recipeMaker textarea {
  height: 200px;
}

#submit {
  margin-top: 50px;
  width: 100px;
  height: 40px;
  font-family: var(--font);
  color: white;
  background-color: var(--background);
}

/*Saved Recipes*/
.saved {
  text-align: center;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.recipes h2 {
  margin: 10px;
}

/*Recipe Display*/
.recipeDisplay{
  margin: 0 auto;
  width: 500px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*Desktop View*/
.recipes section{
  width: 150px;
  height: 200px;
  text-align: center;
  border-style: solid;
  border-color: #555;
  border-radius: 15px;
  background-color: black;
  margin: 10px;
  color: white;
}




@media screen and (min-width: 1050px) {
  /*Home*/
  #ham {
    display: none !important;
  }
.links li {
  display: inline;
}

.links {
  grid-column: 2;
  grid-row: 1;
  color: white;
  display: flex;
  flex-direction: row !important;
}

.link:hover {
  transition: all 1s ease 0s;
  background-color: white;
  color: black;
}

nav {

  align-items: center;
  justify-content: center;
}

.steps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

}
